.column {
    background-color: #eff2f5;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: fit-content;
    width: 350px;
    margin-top: 20px;
    border-radius: 5px;
    box-shadow: 0 0 3px 0 rgba(158, 156, 156, 0.2);
    padding-bottom: 20px;
    margin-left: 30px;
}

.column .column-header {
    display: flex;
    width: 100%;
    height: 40px;
    align-items: center;
    font-weight: 700;
    justify-content: space-between;
    border-bottom: 1px solid #e4e6e8;
}

.column .column-header .column-title {
    margin-left: 10px;
}

.column .column-header .modify-column {
    margin-right: 10px;
}

.column .column-header .modify-column  button {
    background-color: #eff2f5;
    border: none;
    font-size: large;
}

.column .column-header .modify-column  button:hover {
    box-shadow: 0 0 5px 0 rgba(135, 135, 135, 0.2);
}

.column .column-header .column-title .card-count {
    margin-left: 10px;
    border: 1px solid #6e6e6e;
    padding: 1px 5px;
    border-radius: 10px;
    font-size: small;
    color: #6e6e6e;
}
